div.opportunities{
    width: 100vw;
    height: unset;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.opportunities div.opportunities-container{
    max-width: 800px;
}
div.opportunities div.opportunities-container h1.course-header{
    border-bottom: 1px solid #ddd;
    margin: 0;
}
div.opportunities div.opportunities-container h1.course-header img{
    height: 1.5rem;
    fill: rgb(52, 52, 210);
}
div.end p{
    font-size: smaller;
    padding: 20px;
    margin: 0;
}